                    .flex-column {
                        position: fixed;
                        top: 56;
                        right: 0;
                        z-index: 1050;
                        background: #f8f9fa;
                        height: 100%;
                        width: 50px;
                        -webkit-box-shadow: -1px 0 2px 0 rgba(0, 0, 0, .1);
                        box-shadow: -1px 0 2px 0 rgba(0, 0, 0, .1)
                    }
                    
                    .check-box {
                        z-index: 9000;
                        border-bottom: #f8f9fa thin solid;
                        padding: 5px;
                        color: red;
                        position: fixed;
                        right: 0;
                        margin: auto 0;
                    }
                    
                    .nav-tool a {
                        font-size: 12px;
                    }
                    
                    .tool-box {
                        padding: 0 50px;
                        margin-top: 50px;
                    }
                    
                    .tab {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        padding-left: 0;
                    }
                    
                    .tab li {
                        border-left: rgb(225, 214, 214) solid 1px;
                        border-bottom: rgb(225, 214, 214) solid 1px;
                        padding: 0 5px;
                        width: 230px;
                        list-style-type: none;
                        background-color: white;
                    }
                    
                    .tab li:hover {
                        background-color: rgba(0, 0, 0, .05);
                    }
                    
                    .tab i {
                        padding: 5px 0;
                        color: #014cd2;
                        font-weight: bold;
                        font-size: 14px;
                    }
                    
                    .tool-introduction {
                        font-size: 12px;
                    }
                    
                    @media (max-width:320px) {}
                    
                    @media (max-width: 640px) {
                        .tool-box {
                            padding: 0;
                        }
                        .tab li {
                            width: 100%;
                        }
                    }
                    
                    @media (min-width: 640px) {
                        .tool-box {
                            padding: 0;
                        }
                        .tab li {
                            width: 33.333%;
                        }
                    }
                    
                    @media (min-width: 768px) {
                        .tool-box {
                            padding: 0;
                        }
                        .tab li {
                            width: 20%;
                        }
                    }
                    
                    @media (min-width: 1366px) {
                        .tool-box {
                            padding: 0;
                        }
                        .tab li {
                            width: 12.5%;
                        }
                    }