* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 5px;
    position: relative;
    float: left;
}

nav ul li:hover {
    background-color: lightgray;
    border: 1px solid gray;
    border-bottom: 0;
}

nav ul li:nth-child(n+4) span::after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    content: "";
    display: inline-block;
}

nav ul li div {
    display: none;
    position: absolute;
    top: 32px;
    left: -1px;
    width: 200px;
    height: auto;
    background-color: lightgray;
    border: 1px solid gray;
    box-shadow: gray;
    padding: 5px;
    z-index: 1010;
}

hr {
    margin: 5px auto;
}

.dropdown ul a:hover {
    background-color: lightgreen;
}

nav form {
    padding: 5px;
}