<div id="top">
	<div class="wrapper">
		<div class="fl">{qt_Loop:List19 1,41,8}<a href="{qt:n_gotourl}">{qt:nd_title1_color}</a>{/qt_Loop}<i class="sq">|</i><a href="javascript:;" class="cates" target="_self">分类导航<i></i></a></div>
		<div class="fr"><a href="{qt:HomePage}" class="home">{qt:G_WEBNAME}首页</a><i class="sq">|</i><a target="_parent"  onclick="divcenter()" href="javascript:void(0)">意见反馈</a><i class="sq">|</i><a href="javascript:;" title="收藏本页" id="collet">收藏本页</a></div>
	</div>
</div>