<title>{if:"{qt:ListTitle2 {qt:m_type1}}"<>""} {qt:ListTitle2 {qt:m_type1}}{else}{qt:ListName2 {qt:m_type1}}{end if} - {qt:G_WEBNAME}</title>
<meta name="description" content="{if:"{qt:Listtypedes2 {qt:m_type1}}"<>""} {qt:Listtypedes2 {qt:m_type1}}{else}{qt:G_DIE}{end if}" />
<meta name="keywords" content="{if:"{qt:ListContent2 {qt:m_type1}}"<>""} {qt:ListContent2 {qt:m_type1}}{else}{qt:ListName2 {qt:m_type1}}{end if}" />
<link type="text/css" rel="stylesheet" href="../js/public4/rebuild/css/style.css" />
<script src="../js/public4/rebuild/js/swords_gb.js"></script>
<script language="javascript">var qtcmsdd={t:"{qt:indexurl}template/{qt:G_moban}/js/",d:"{qt:indexurl}",taobao:"{qt:G_lm_taobao2}",mm:"{qt:pageone f_m_members.html}",ml:"{qt:pageone f_m_login.html}",mf:"{qt:pageone f_feedback.html}",wn:"{qt:G_WEBNAME}",wu:"{qt:G_WEBURL}",sogou:"{qt:G_lm_sogou_s}"}</script>