<div id="footer">
	<div class="wrapper_foot">
		<p class="btmlink"><span class="fl">  {qt_Loop:List19 1,33,8,0}<a href="{qt:n_gotourl}">{qt:nd_title1_color}</a> | {/qt_Loop}{qt_Loop:List19 1,40,1}{qt:n_content}{/qt_Loop}</span><span class="fr">&copy;2015-<script type="text/javascript">document.write(new Date().getFullYear());</script>&nbsp;<a target="_self" href="{qt:HomePage}">{qt:G_WEBNAME}</a>&nbsp;<a href="http://www.miibeian.gov.cn">{qt:G_BEIAN}</a></span></p>
	</div>
</div>
<div id="costom"><a href="#" id="gotop">回到顶部</a><a href="javascript:void(0)" onClick="divcenter()" id="feedback" target="_parent">意见反馈</a></div>
