<mailserver>smtp.163.com</mailserver><mailserverloginname>pxy19770504</mailserverloginname><mailserverloginpass>pjden123456</mailserverloginpass><mailuserdomain>163.com</mailuserdomain><frommail>pxy19770504@163.com</frommail><fromname>六合人家导航网</fromname><PSubject>六合人家微门户密码找回提示</PSubject><PAddRecipient>260075702@qq.com</PAddRecipient><PBody>您在panxinyou.com上注册的用户名是：{u}，密码是：{p}</PBody><PSubjectZc>六合人家微门户账号激活</PSubjectZc><PBodyZc>您在六合人家导航网上注册的账号激活链接：{href}，如果链接无法打开，请直接把链接地址复制到地址栏打开</PBodyZc>