a: hover {
	cursor: pointer
}
#mashead .mashead-hd .logo .logo-pic {
	border-right: 0
}
#nav {
	background: #fff;
	height: 28px;
	vertical-align: middle
}
#nav .nav-bd {
	background: #fff;
	padding: 5px 0 5px 25px;
	_height: 28px;
	_line-height: 28px
}
#nav a {
	display: inline;
	float: none;
	width: auto;
	height: auto;
	line-height: 1.5;
	color: #000;
	font-family: "\5b8b\4f53";
	font-size: 12px;
	font-weight: normal
}
#nav a: hover {
	color: #f00
}
#nav .nav-bd .divider {
	margin: 0 5px
}
.site-nav {
	position: relative;
	width: 960px;
	overflow: hidden;
	background: #fff
}
.site-nav .site-header {
	margin-left: 10px;
	padding-bottom: 10px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: bold
}
.site-nav ul {
	width: 930px;
	margin: 0 auto;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	overflow: hidden
}
.site-nav li {
	float: left;
	width: 185px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd
}
.site-nav li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 32px;
	padding-left: 20px;
	font-size: 14px;
	text-decoration: none
}
.site-nav li a: hover {
	color: #333;
	background: #efefef
}
.site-nav li a .label-hot,.site-nav li a .label-new {
	*position: absolute;
	display: inline-block;
	width: 23px;
	height: 9px;
	margin: 0 5px;
	overflow: hidden;
	background: url(http: //p0.qhimg.com/t017781715d7c7e37ee.gif) no-repeat
}
.site-nav li a .label-new {
	background-position: 0 -9px
}
.map-center {
	text-align: center;
	margin: 0 auto;
	overflow: hidden
}
.wrap {
	width: 980px;
	margin: 0 auto;
}
#city_select {
	border-bottom: 1px #eee dashed;
	padding: 10px 5px;
	font-size: 14px
}
body,button,input,select,textarea,li,dt,dd,div,p,span {
	font: 12px/1.5 Arial
}
#city_select select {
	border: 1px #ccc solid;
	background: #fff;
	font-size: 13px;
	margin-right: 5px;
	width: 100px
}
button,input,select,textarea {
	outline: 0;
	vertical-align: middle;
	margin: 0;
	padding: 0
}
a: link,a: visited,.link {
	cursor: pointer;
	color: #36c;
	text-decoration: none
}
#city_index {
	padding: 5px;
	font-size: 14px;
	margin-left:20px;
	margin-top:15px
}
#city_index a {
	color: #ee6100;
	font-weight: bold;
	margin-right: 5px;
	padding: 1px 3px
}
#city_list {
	height: auto
}
#city_list dt {
	padding:0px;
	color: #ee6100;
	float: left;
	font-size: 14px;
	font-weight: 700;
	padding-top: 5px;
	text-align: center;
	width: 30px;
	border-bottom:none
}
#city_list dd {
	margin-left: 40px;
	padding: 5px
}
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p {
	line-height: 180%
}
#city_list h5 {
	font-size: 14px;
	float: left;
	width: 45px
}
#city_list dd p {
	margin-left: 50px;
	zoom: 1;
	padding-top: 3px
}
#city_list dd a {
	margin-right: 5px
}
#city_list dd.odd {
	background: #edf7ff
}
#js_cities_item_box {
	width: 200px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	display: none
}
#js_cities_item_box {
	width: 200px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	display: none
}
#js_cities_item_box {
	width: 200px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	display: none;
	margin: 0
}
#nav {
	margin-top: 20px;
	height: auto
}
#nav .le-nav {
	background: url(http: //p9.qhimg.com/t018afd236eca6d138e.png) repeat-x #406fb5;
	height: 40px;
	border-right: 1px solid #f0f0f0;
	clear: both
}
#nav .le-nav ul {
	background: 0
}
#nav .le-nav li {
	background: url(http: //p3.qhimg.com/t01c7d6c7825dd30546.png) no-repeat 100% 0;
	margin-top: 0;
	padding-right: 22px;
	border: 0
}
#nav .le-nav a {
	background: url(http: //p3.qhimg.com/t01c7d6c7825dd30546.png) no-repeat;
	padding: 0 0 0 22px;
	color: #fff;
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 16px
}
#nav .le-nav a: hover {
	text-decoration: none
}
#nav .le-nav .active {
	background-position: 100% -42px
}
#nav .le-nav .active a {
	font-weight: bold;
	background-position: 0 -42px
}
#nav .le-nav .last {
	float: right
}
#nav .le-nav .last a {
	background-position: 0 -84px
}
