@charset "gb2312";
.topbar .sets .sethome,.header .notice,.m-search-tab .active,.m-search-tab .active116{ background-image:url(../../images/skin/green_spirit.png);}
.m-search-tab .active{ background-position:0 -23px; background-repeat:no-repeat; }
.m-search-tab .active116{ background-position:0 -48px; background-repeat:no-repeat;}
.topbar .sets .sethome{ background-position:0 -84px; background-repeat:no-repeat;}
.header .notice{ background-position:0 3px; background-repeat:no-repeat;}
.m-search{  border-color:#CECECE; background-position:0 -128px;background-repeat:repeat-x;background:#f5faea; }
/*.header .logo{background-image:url(../../../../../images/logo.png);_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="../../../../../images/logo.png");}*/
.col-hotKeys .hotKeys a,.box-prlInq .tit,.box-prlInq .more,.usage-tab .active,.col-coolsite .tit,.fmSite-tab li,.box-tuan a,.sortSite .tit a,.recomSite .tit a{ color:#5c7f01;}
.topbar .setColor .blue{ background-position:-1px -568px;}
.topbar .setColor .green{ background-position:-20px -612px;}
.skin-list .default-setColor .blue{ background-position:0px -590px;}
.skin-list .default-setColor .green{ background-position:-19px -634px;}
.col-usage,.col-coolsite,.fmSite-tab li,dl,#botNavi,.sedulist{border-color:#a2d175;}
.comBox,ul.col-row02,.col{border-color:#CECECE;}
.col-fmSite{border-color:#a2d175 !important;}
.starBar{border-color:#cee1a2;}
.starBar li.hover{ background-color:#e5f1cb;}
.fmSite-tab li span,.box-tuan a{ background-color:#e7f6cb;}
.sideBar{ background-color:#f6faed;}
.col-recomSite{background-color:#fdfff9;}
.usage-tab li{ background-color:#e5f1cb;}
.usage-tab .active{background-color:#89c455;color:#fff;}
ul.colnavi{}
.sedulist dl dd ul li em.b{background:#539815;}
ul.colnavi li a,#botNavi ul li a.hex,.youqingContent .subject{color:#539815;}
ul.colTitle li{ border-top: 1px solid #cecece;  }
ul.colTitle li.active{border-top-color:#a2d175;}
.topbar li.drop ol li a:hover{background:#a2d175;}
ul.col-row02 li,
#botNavi ul li span,
.morCrt a,
ul.colTitle,
span#mcLft, span#mcRgt{background-image:url(../../images/iconall-green.png);}
#ldMore{background-position:-44px 0;}
#ldMore.my{background-position:-66px 0;}

ul.colnavi li span{ background-image: url(../../images/iconall-green.png); }
.scroCtr a,.tilTxt .tilIcon,.btmc_con .btmc_la, .btmc_con .btmc_ra,.ecRow .ecTilTxt .ecTilIcon{ background-image: url(../../images/iconall-green.png); }
.s-hot .hot-con .bot-nub, .col-hotKeys .bot-nub{ background:#87c64e; }
.ecRow .ecBottomLine{ background:#87c64e; }
.btmContent .tabHander{ background:#87c64e; }
.starCol .txt1Row2 a{ background:#87c64e; }
.tilTxt{ color:#4f940a; }  
.ecRow .ecTilTxt{ }
.ecRow .ecTilTxt .ecTilSpan{ color:#4f940a; }
.topbar .wel ul li.mcol a.home:hover{ background: url(../../images/skin/green_spirit.png) no-repeat  2px -91px; }

.s-hot .hot-clock,.youqingContent .subject,.menutop{ background-image: url(../../images/iconall-green.png); }
.s-hot .hot-til{ background:#87c64e; }
.s-hot .hot-con{ border: 1px solid #87c64e; }
.botNavi .botCol2,
.botNavi .botCol4{ background: #fff; }
.ecRow,.btmContent,.youqingContent{ border: 1px solid #CECECE; }
.btmContent .tabHander li{ border-top-color: #87c64e;}
.botNavi{ border-color:#CECECE; }
.botNavi .botBlue{ color: #4f940a; }
.starRow2 .detail{ color: #5c7f01; }
.starCol .star_chose a:hover{ color:#5c7f01;}
.ecRow .ecTilTxt .ecTilIcon{ background-position:10px -34px; }
.s-hot .hot-con .cur{ background:#f5faea; }

.header .logo {background: url("../../../../../images/logo-2014.png?20130309" ) no-repeat 0px center;}

ul.fcolnavi .active a{background: #9ED18E !important;color:#fff;}
.menus .select{border-top-color:#a2d175}