<div class="btmc_til">
    <span class="tilTxt">
        <span class="tilIcon">
        </span>
        <label>
            休闲娱乐吧
        </label>
    </span>
    <ul class="tabHander" id="btmHander">
		{qt_Loop:List19 1,23,1,1}<li class="active"><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
        {qt_Loop:List19 1,23,1,2}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
        {qt_Loop:List19 1,23,1,3}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a><i class="hot"></i></li>{/qt_Loop}
        {qt_Loop:List19 1,23,1,4}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
        {qt_Loop:List19 1,23,1,5}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
        {qt_Loop:List19 1,23,1,6}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
		{qt_Loop:List19 1,23,1,7}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
    </ul>
</div>
<div class="btmc_con clearfix">
    <a href="javascript:void(0)" target="_self" class="btmc_la">
    </a>
    <a href="javascript:void(0)" target="_self" class="btmc_ra">
    </a>
    <div class="con_item btmc_bagua btmc_yile btmc_webGame">
        <div class="btmc_ssWrap">
            <div class="btmc_ss btmc_bg">
                <ul {qt_Loop:List19 1,23,1,1}id="yule_{qt:n_title2}"{/qt_Loop}>
				{qt_Loop:List19 1,23,11|1,1}<li><a href="{qt:n_gotourl}"><img src="{qt:n_pic}"><span class="btmc_txt1">{qt:n_title1}</span></a></li>{/qt_Loop}
                </ul>
            </div>
        </div>
    </div>
    <div class="con_item btmc_yinshi" style="display:none">
<!--        <div class="btmc_subTil">
            <ul>
                <li class="current">电视剧</li>
                <li>电影</li>
                <li>动漫</li>
                <li>综艺</li>
                <li>娱乐</li>
                <li>更多&gt;&gt;</li>
            </ul>
        </div>-->
		
        <div class="btmc_ssWrap">
            <div class="btmc_ss">
                <ul {qt_Loop:List19 1,23,1,2}id="yule_{qt:n_title2}"{/qt_Loop}>
					{qt_Loop:List19 1,23,11|1,2}
                    <li>
                        <a href="{qt:n_gotourl}">
                            <img src="###public4/rebuild/pic2/blank.png" org="{qt:n_pic}"/>
                            <span class="up_txt">{qt:n_content}</span>
                            <span class="btmc_txt1">{qt:n_title1}</span>
                            <span class="btmc_txt2">{qt:n_title2}</span>
                        </a>
                    </li>
					{/qt_Loop}
                </ul>
            </div>
        </div>
    </div>
    <div class="con_item btmc_jingqi" style="display:none">
<!--        <div class="btmc_ssWrap">
            <div class="btmc_ss btmc_bg">
                <ul>
				{qtt_Loop:List19 1,23,11|1,3}<li><a href="{qt:n_gotourl}"><img src="###public4/rebuild/pic2/blank.png" org="{qt:n_pic}"><span class="btmc_txt1">{qt:n_title1}</span></a></li>{/qtt_Loop}
                </ul>
            </div>
        </div>-->
		<div class="btmc_jqWrap">
			<div class="btmc_jq clearfix" {qt_Loop:List19 1,23,1,3}id="yule_{qt:n_title2}"{/qt_Loop}>
				{qt_Loop:List19 1,23,11|1,3}<div class="btmc_jq_item jq_item_1"><a href="{qt:n_gotourl}" _orighref="{qt:n_gotourl}" _tkworked="true"><img  src="###public4/rebuild/pic2/blank.png" org="{qt:n_pic}"><span class="jq_item_mask"><span class="mask_left">{qt:n_title1}</span><span class="mask_right"><em class="jq_heart">{qt:n_title2}</em></span></span></a></div>{/qt_Loop}
			</div>
		</div>		
    </div>
    <div class="con_item  btmc_yile " style="display:none">
        <div class="btmc_ssWrap">
            <div class="btmc_ss btmc_bg">
                <ul {qt_Loop:List19 1,23,1,4}id="yule_{qt:n_title2}"{/qt_Loop}>
				{qt_Loop:List19 1,23,11|1,4}<li><a href="{qt:n_gotourl}"><img src="###public4/rebuild/pic2/blank.png" org="{qt:n_pic}"><span class="btmc_txt1">{qt:n_title1}</span></a></li>{/qt_Loop}
                </ul>
            </div>
        </div>
    </div>
    <div class="con_item  btmc_xiaoyouxi" style="display:none">
       <div class="btmc_subTil">
            <ul>
				{qt_Loop:List19 1,23,24|23,5}<a href="{qt:n_gotourl}" class="one">{qt:n_title1}</a>{/qt_Loop}
				{qt_Loop:List19 1,23,30|24,5}<a href="{qt:n_gotourl}" class="two">{qt:n_title1}</a>{/qt_Loop}
            </ul>
        </div>
        <div class="smallGameRow clearfix">
            <div class="blank10">
            </div>
            <div class="smallGameList">
                <ul class="sgUl">
				{qt_Loop:List19 1,23,23|1,5}
                    <li class="sgLi">
                        <a href="{qt:n_gotourl}" class="sgItem">
                            <i></i>
                            <img src="###public4/rebuild/pic2/blank.png" org="{qt:n_pic}"/>
                            <span class="sgDes">{qt:n_title1}</span>
                        </a>
                    </li>
				{/qt_Loop}
                </ul>
            </div>
            <div class="blank10">
            </div>
            <div class="sgLinks">
                <div class="sgWrap">
                    <div class="sgCol">
                        <div class="listRow">
                            {qt_Loop:List19 1,23,25|24,5}
							<h3><a href="{qt:n_gotourl}">{qt:n_title1}</a></h3>
							{/qt_Loop}
                            <span>
                                |
                            </span>
							{qt_Loop:List19 1,23,33|30,5}
                            <a href="{qt:n_gotourl}">
                                {qt:n_title1}
                            </a>
							{/qt_Loop}
                        </div>
                        <div class="listRow">
                            {qt_Loop:List19 1,23,26|25,5}
							<h3><a href="{qt:n_gotourl}">{qt:n_title1}</a></h3>
							{/qt_Loop}
                            <span>
                                |
                            </span>
							{qt_Loop:List19 1,23,36|33,5}
                            <a href="{qt:n_gotourl}">
                                {qt:n_title1}
                            </a>
							{/qt_Loop}
                        </div>
                    </div>
                    <div class="sgCol">
                        <div class="listRow">
                            {qt_Loop:List19 1,23,27|26,5}
							<h3><a href="{qt:n_gotourl}">{qt:n_title1}</a></h3>
							{/qt_Loop}
                            <span>
                                |
                            </span>
							{qt_Loop:List19 1,23,39|36,5}
                            <a href="{qt:n_gotourl}">
                                {qt:n_title1}
                            </a>
							{/qt_Loop}
                        </div>
                        <div class="listRow">
                            {qt_Loop:List19 1,23,28|27,5}
							<h3><a href="{qt:n_gotourl}">{qt:n_title1}</a></h3>
							{/qt_Loop}
                            <span>
                                |
                            </span>
							{qt_Loop:List19 1,23,42|39,5}
                            <a href="{qt:n_gotourl}">
                                {qt:n_title1}
                            </a>
							{/qt_Loop}
                        </div>
                    </div>
                    <div class="sgCol">
                        <div class="listRow">
                            {qt_Loop:List19 1,23,29|28,5}
							<h3><a href="{qt:n_gotourl}">{qt:n_title1}</a></h3>
							{/qt_Loop}
                            <span>
                                |
                            </span>
							{qt_Loop:List19 1,23,45|42,5}
                            <a href="{qt:n_gotourl}">
                                {qt:n_title1}
                            </a>
							{/qt_Loop}
                        </div>
                        <div class="listRow">
                            {qt_Loop:List19 1,23,30|29,5}
							<h3><a href="{qt:n_gotourl}">{qt:n_title1}</a></h3>
							{/qt_Loop}
                            <span>
                                |
                            </span>
							{qt_Loop:List19 1,23,48|45,5}
                            <a href="{qt:n_gotourl}">
                                {qt:n_title1}
                            </a>
							{/qt_Loop}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="con_item   btmc_webGame" style="display:none">
        <div class="btmc_ssWrap">
            <div class="btmc_ss btmc_bg">
                <ul>
					{qt_Loop:List19 1,23,11|1,6}
                    <li>
                        <a href="{qt:n_gotourl}">
                            <img src="###public4/rebuild/pic2/blank.png" org="{qt:n_pic}"/>
                            <span class="btmc_txt1">{qt:n_title1}</span>
                            <span class="btmc_txt2">{qt:n_title2}</span>
                        </a>
                    </li>
					{/qt_Loop}
                </ul>
            </div>
        </div>
    </div>
    <div class="con_item btmc_xiaoshuo" style="display:none">
        <div class="btmc_xsWrap">
            <div class="btmc_xs">
                <ul class="bookList clearfix">
					{qt_Loop:List19 1,23,17|1,7}
                    <li>
                        <a class="bookItem" href="{qt:n_gotourl}">
                            <img src="###public4/rebuild/pic2/blank.png" org="{qt:n_pic}">
                            <span class="desTxtWrap">
                                <span class="desTxt">
                                    <em>{qt:n_title1}</em>
                                </span>
                            </span>
                            <span class="desTxt2">{qt:n_title2}</span>
                        </a>
                    </li>
					{/qt_Loop}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="btmc_con2 clearfix">
    <div class="toolsCol">
        <div class="tilRow">
            <span class="tilTxt">
                <span class="tilIcon iconTool"></span>
                <label>{qt_Loop:List19 1,24,1,0}{qt:n_title1}{/qt_Loop}</label>
            </span>
            {qt_Loop:List19 1,24,1,0}<a href="{qt:n_gotourl}" class="more">更多&gt;&gt;</a>{/qt_Loop}
        </div>
        <div class="colLeft">
            <ul>
                {qt_Loop:List19 1,24,7|1,0}<li><a href="{qt:n_gotourl}" style="background:url({qt:n_pic}) no-repeat"></a></li>{/qt_Loop}
            </ul>
        </div>
        <div class="colRight">
            <ul class="clearfix">
                {qt_Loop:List19 1,24,13|7,0}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
            </ul>
            <ul class="clearfix">
                {qt_Loop:List19 1,24,19|13,0}<li><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
            </ul>
        </div>
    </div>
    <div class="starCol">
        <div class="tilRow">
            <span class="tilTxt">
                <span class="tilIcon iconStar">
                </span>
                <label>
                    看您的星座
                </label>
            </span>
            <span class="star_op">
                <label>
                    加载中..
                </label>
                <span class="op_icon">
                </span>
            </span>
        </div>
        <div class="star_chose">
            <ul>
                <li>
                    <a href="javascript:void(0)" xzid="1" target="_self">
                        白羊座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="2" target="_self">
                        金牛座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="3" target="_self">
                        双子座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="4" target="_self">
                        巨蟹座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="5" target="_self">
                        狮子座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="6" target="_self">
                        处女座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="7" target="_self">
                        天秤座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="8" target="_self">
                        天蝎座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="9" target="_self">
                        射手座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="10" target="_self">
                        摩羯座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="11" target="_self">
                        水瓶座
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" xzid="12" target="_self">
                        双鱼座
                    </a>
                </li>
            </ul>
        </div>
        <div class="starCom">
        </div>
    </div>
    <div class="otherCol">
        <ul class="colTitle btop" id="tool-tab">
            {qt_Loop:List19 1,31,1,2}<li rel="{qt:n_title2}" class="active" id="tool-tab-def"><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
            {qt_Loop:List19 1,31,2|1,2}<li rel="{qt:n_title2}"><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
            {qt_Loop:List19 1,31,3|2,2}<li rel="{qt:n_title2}"><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
            {qt_Loop:List19 1,31,4|3,2}<li rel="{qt:n_title2}" id="tool-tab-last"><a href="{qt:n_gotourl}">{qt:n_title1}</a></li>{/qt_Loop}
        </ul>
        <div class="comWrap" style="display:block;">
            <div id="tb" class="usage-con">
                <div style="display:none;" class="tbox tTicket" {qt_Loop:List19 1,31,2|1,2}id="{qt:n_title2}"{/qt_Loop}>
                    <form onsubmit="kuxun.searchTicket();  return false;" class="plane">
                        <p>
                            &nbsp;从 &nbsp;
                            <input type="text" onblur="this.value == '' ? this.value = '北京' : this.value = this.value"
                            onclick="(this.value == '北京') ? this.value = '' : this.focus()" value="北京"
                            name="t" class="ipt-text" id="jP_startCity" />
                            &nbsp;到&nbsp;
                            <input type="text" onblur="this.value == '' ? this.value = '上海' : this.value = this.value"
                            onclick="(this.value == '上海') ? this.value = '' : this.focus()" value="上海"
                            class="ipt-text" name="q" id="jP_toCity" />
                        </p>
                        <p class="under">
                            日期
                            <input type="text" name="date" id="jp_today" class="ipt-text ipt-date"
                            value="2012-07-15" />
                            &nbsp;
                            <span class="box-btn">
                                <input type="submit" class="btn rep" value="查看折扣价" />
                            </span>
                        </p>
                    </form>
                </div>
                <div style="display:none;" class="tbox tHotel" {qt_Loop:List19 1,31,3|2,2}id="{qt:n_title2}"{/qt_Loop}>
                    <form onsubmit="kuxun.searchHotel();  return false;" class="plane">
                        <p>
                            城市&nbsp;
                            <input id="ht_city" onblur="this.value == '' ? this.value = '北京' : this.value = this.value"
                            onclick="(this.value == '北京') ? this.value = '' : this.focus()" value="北京"
                            class="ipt-text ipt-city" name="city" />
                            &nbsp;入住日期&nbsp;
                            <input value="" id="ht_today" class="ipt-text ipt-date" name="date" />
                        </p>
                        <p class="under">
                            酒店&nbsp;
                            <input value="" id="ht_key" class="ipt-text" name="nameContains" />
                            &nbsp;&nbsp;
                            <span class="box-btn">
                                <input type="submit" class="btn rep" value="搜 索" />
                            </span>
                        </p>
                    </form>
                </div>
                <div style="display:none;" class="tbox tTour" {qt_Loop:List19 1,31,4|3,2}id="{qt:n_title2}"{/qt_Loop}>
                    <form onsubmit="kuxun.searchTravel();  return false;" class="plane">
                        <p>
                            出发地&nbsp;
                            <input type="text" onblur="this.value == '' ? this.value = '北京' : this.value = this.value"
                            onclick="(this.value == '北京') ? this.value = '' : this.focus()" value="北京"
                            name="StartPlace" class="ipt-text" id="daodao_travel_q" />
                        </p>
                        <p class="under">
                            目的地&nbsp;
                            <input value="" id="daodao_travel_k" class="ipt-text" name="KeyWords"
                            />
                            &nbsp;&nbsp;
                            <span class="box-btn">
                                <input type="submit" class="btn rep " value="旅游搜索" />
                            </span>
                        </p>
                    </form>
                </div>
                <div style="display:block;" class="tbox tPhone" {qt_Loop:List19 1,31,1,2}id="{qt:n_title2}"{/qt_Loop}>
				{qt_Loop:List19 1,31,1,2}
                    {qt:n_content}
				{/qt_Loop}
                </div>
            </div>
        </div>
        <div class="phone_adv">
            <ul class="mslide appWrap">
                <li style="display:block;">
                    <!--热卖-->
                   {qt_Loop:List19 1,31,3,1}<a class="app" href="{qt:n_gotourl}"><img src="{qt:n_pic}">{qt:n_title1}</a>{/qt_Loop}
                </li>
            </ul>
        </div>
    </div>
</div>