<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
{self}列表页头部.html{/self}
<base target="_blank" />
</head>
<body>
{self}列表页头部2.html{/self}
<div class="wrapper" style="width:1000px">
	{self}列表页头部3.html{/self}
	<div class="comRowGuid">
		{qt_Loop:List19 1,37,1}
		<dl class="">{if:"{qt:n_title1}"<>""}<dt><a href="{qt:n_gotourl}" target="_blank">{qt:n_title1}</a></dt>{end if}<dd>{qt:n_content}</dd></dl>
		<div class="shr"></div>
		{/qt_Loop}	
		{qt_Loop:type3 0,50,10,{qt:m_type1}}
		<dl>
			<dt><a>{qt:m_type_name}</a></dt>
			<dd>
				<table>
				<tr>{qt_Loop:urlList}<td><a href="{qt:md_url}">{bif:"{qt:md_pic}"<>""}<img width="16" height="16" class="img" src="{qt:md_pic}">{else}<img width="16" height="16" class="img" src="../images/ico/ie.gif">{bend if}{qt:mdname_1_color}</a></td>{bif:{qt:md_i} mod 6=0}</tr><tr>{bend if}{/qt_Loop:urlList}</tr>
				</table>
			</dd>
		</dl> 
		<div class="shr"></div>
		{/qt_Loop}
		<div style="clear:both"></div>
		<div style="width:1000px; overflow:hidden;">
			<!--<iframe src="http://tv.yisou.com/list.php?&s_type=2&type=1&p=1" border="0" width="103%" height="5903" frameborder="0"  style=" margin-top:-60px;" scrolling="no" name="frame1"></iframe>-->
			<iframe src="http://cdn.inf.v.360.cn/daohang/dianshi.html" width="1000" name="pigeon-iframe" id="pigeon-iframe" allowtransparency="true" scrolling="no" height="1394" frameborder="no"></iframe>
		</div>
		{self}列表页底部2.html{/self}
		{qt_Loop:List19 1,38,1}
		<div class="shr"></div>
		<dl class="">{if:"{qt:n_title1}"<>""}<dt><a href="{qt:n_gotourl}" target="_blank">{qt:n_title1}</a></dt>{end if}<dd>{qt:n_content}</dd></dl>
		{/qt_Loop}			
	</div>
	<div class="line"></div>
	
	{self}列表页底部.html{/self}
</div>	
{self}列表页底部js.html{/self}	
{self}底部.html{/self}
<div id="costom1"align="center">
<a href="http://www.panxinyou.com/" target="_blank"><img src="http://www.go569.com/uploads/allimg/150306/1_2256283491.gif" border=0 /></a>
</div>
</body>
</html>

